@page "/"
@inject DataGenerator data

<PageTitle>Index</PageTitle>

<h1>Fake Data with Bogus!</h1>

<p>
    @data.GeneratePerson().ToString();
</p>
<p>
    @data.GeneratePerson().ToString();
</p>
<p>
    @data.GeneratePerson().ToString();
</p>
<p>
    @data.GeneratePerson().ToString();
</p>